<html>
<head>
	{% block head %}
		<meta charset="UTF-8">
		<title>{% block title %}ft_matcha {% endblock %}</title>
		{% block meta %}
			{% block css %}
				{% include 'template/css.twig' %}
			{% endblock %}
		{% endblock %}
	{% endblock %}
</head>
<body>
	{% block body %}
		{% block header %}
			<h1>header</h1>	
		{% endblock %}
	{% endblock %}
</body>
</html>