<span id="idUser" data-id="{{ session.login.id }}"></span>
{#<script src="{{ baseURl }}/js/like.js" type="application/javascript"></script>#}
<script src="{{ baseURl }}/js/responsive.js" type="application/javascript"></script>
