<span id="idUser" data-id="{{ session.login.id }}"></span>
{% if app.isLogged %}
<script src="{{ baseURl }}/js/like.js" type="application/javascript"></script>
{% endif %}
<script src="{{ baseURl }}/js/responsive.js" type="application/javascript"></script>
