{% extends "template/base.twig" %}

{% block body %}
    <div class="container">
        <div class="toAdopt">
            <h2 class="line"><span>Lorem Lipsum</span></h2>
            <div class="row noPadding">
                <ul class="col-md-12">
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-12"><img src="http://img.over-blog-kiwi.com/1/51/43/16/20150612/ob_abac60_830015749.jpg" alt="" class="img-thumbnail"></li>
                </ul>
                
            </div>
        </div>
    </div>
{% endblock %}