body {
	font-family:      'Open Sans';
	/*background-image: url('../img/bg.png');*/
	color:#2c333a;
}

.nopadding{
	padding: 0;
}
li {
	list-style-type: none;
}

.noPadding {
	padding: 0;
}

.btn {
	background-image: none;
	border:           0;
	border-radius:    0;
	color:            white;
}

.btn-default {
	background-color: #F48FB1;
}

input {
	border-radius: 0;
}

.tablem {
	display: table;
}

.tablecell {
	display: table-cell;
}

.pink {
	color: #F8C1CF;
}

.white {
	color: white;
}

.floatl {
	float: left;
}

.floatr {
	float: right;
}

.icon {
	width:   52px;
	height:  52px;
	display: inline-block;
}

.icon-calendar {
	background-image: url('/img/ressources/calendar.png');
}

.bgwhite{
	background: white;
}

