body {
	font-family:      'Open Sans';
	background-image: url('../img/bg.png');
	color:#2c333a;
}

.nopadding{
	padding: 0;
}
li {
	list-style-type: none;
}

.dtable{
	display: table;
}

.main-container{
	background: #FFFFFF;
	box-shadow: 0 0 15px rgba(83, 25, 39, 0.1);
}

input {
	color: #8a8a8a;
	border: 1px solid #FFFFFF;
}

input:focus {
	border-color: #F48FB1;

}

.noPadding {
	padding: 0;
}

.icone{
	display: inline-block;
	height: 24px;
	margin-left: 10px;
	position: absolute;
	top: 13px;
	width: 24px;
}

.icon-men{
	background-image: url('../img/ressources/icon_male.png');
}

.icon-woman{
	background-image: url('../img/ressources/icon_fem.png');
}

.icon-look{
	display: inline-block;
	height: 24px;
	left: 98px;
	margin-left: 10px;
	position: absolute;
	top: 2px;
	width: 24px;
	background-image: url('../img/ressources/look.png');
}

.orientat{
	margin-right: 10px;
	margin-left: 27px;
}

.btn {
	background-image: none;
	border:           0;
	border-radius:    0;
	color:            white;
}

.btn-default {
	background-color: #F48FB1;
}

.btn-default:hover{
	background-color: #ff4081;
}

input {
	border-radius: 0;
}

.tablem {
	display: table;
}

.tablecell {
	display: table-cell;
}

.pink {
	color: #F8C1CF;
}

.white {
	color: white;
}

.floatl {
	float: left;
}

.floatr {
	float: right;
}

.icon {
	width:   52px;
	height:  52px;
	display: inline-block;
}

.icon-calendar {
	background-image: url('/img/ressources/calendar.png');
}

.bgwhite{
	background: white;
}

