.bg_header
{
	height: 120px;
	background-color: #1c2228;
}

.header{
	padding-top: 28px;
}

.connex
{

}

.connex input
{
	margin-right: 10px;
	height: 27px;
}

.connex button{
	height: 27px;
    padding-top: 4px;
    text-shadow: none;
    font-weight: 700;
}

.connex .forget{
	color:white;
	font-style: italic;
	text-decoration: underline;
	padding-top: 5px;
}