.profil-background
{
    background-color: #2c333a;
    height:           275px;
    color:            rgb(248, ​ 193, ​ 207);
}

.profil-background h2
{
    color:          white;
    font-size:      3.2rem;
    font-weight:    600;
    line-height:    46px;
    margin-top:     -20px;
    position:       absolute;
    text-transform: uppercase;
    top:            100px;
    margin-left:    30px;
}

.profil-background .profile-encart
{
    padding-top: 30px;
    height:      275px;
    position:    relative;
}

.profil-background .profile
{
    border:     11px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    content:    "";
    height:     202px;
    left:       -1px;
    position:   absolute;
    top:        -1px;
    width:      202px;
    z-index:    1;
}

.profil-background .profile
{
    border-radius: 100%;
    height:        200px;
    width:         200px;
    margin-bottom: 12px;
    overflow:      hidden;
    position:      relative;
    z-index:       1;
}

.profil-background .encart
{
    height: 230px;
}

.profil-background .profile img
{
    height:    200px;
    left:      50%;
    position:  absolute;
    top:       0;
    transform: translate(-50%, 0px);
}

.profil-background .age-city
{
    font-size: 2.2rem;
}

.white
{
    color: white;
}
