.profil-background {
	background-color: #2C333A;
	height:           275px;
	color:            rgb(248, ​ 193, ​ 207);
}

.profil-background h2 {
	color:          white;
	font-size:      3.2rem;
	font-weight:    600;
	line-height:    46px;
	margin-top:     -20px;
	position:       absolute;
	text-transform: uppercase;
	top:            100px;
	margin-left:    30px;
}

.profil-background .profile-encart {
	padding-top: 30px;
	height:      275px;
	position:    relative;
}

.profil-background .profile, .history .profile {
	border:     11px solid rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	content:    "";
	height:     202px;
	left:       -1px;
	position:   absolute;
	top:        -1px;
	width:      202px;
	z-index:    1;
}

.profil-background .profile, .history .profile {
	border-radius: 100%;
	height:        200px;
	width:         200px;
	margin-bottom: 12px;
	overflow:      hidden;
	position:      relative;
	z-index:       1;
}

.profil-background .encart {
	height: 230px;
}

.profil-background .profile img, .history img {
	height:    200px;
	left:      50%;
	position:  absolute;
	top:       0;
	transform: translate(-50%, 0px);
}

.profil-background .age-city {
	font-size: 2.2rem;
}

.profil-background .age-city {
	left:     47px;
	position: absolute;
	top:      131px;
}

.profil-background .age-city .age {
	margin-right: 5px;
}

.profil-background .age-city .glyphicon {
	margin-right: 10px;
	font-weight:  600;
}

.profil-background .pop {
	font-size:   19px;
	font-weight: bold;
	margin-left: 52px;
	text-align:  center;
}

.profil-background .interet {
	font-size:      20px;
	left:           50px;
	font-weight:    400;
	letter-spacing: -0.5px;
	position:       relative;
	top:            9px;
}

.profil-background .pop .glyphicon {
	font-size: 8px;
	position:  relative;
	top:       -1px;
}

.main-user .encart-map {
	width:          310px;
	border-bottom:  4px solid #FFE6EC;
	padding-bottom: 15px;
	padding-left:   15px;
	border-right:   1px solid #FFE6EC;
}

.main-user .fullDetails {
	padding-top: 15px;
	width:       860px;
	display:     inline-block;
}

.main-user .details-encart {
	padding-left:  15px;
	padding-right: 15px;
}

.main-user .det {
	font-size: 1.4rem;
}

.main-user .fullDetails h3 {
	margin:         0;
	color:          #F48FB1;
	text-transform: uppercase;
	font-size:      1.4rem;
}

.main-user .description {
	border-bottom: 4px solid #FFE6EC;
	border-top:    4px solid #FFE6EC;
	display:       inline-block;
	margin-top:    15px;
	padding-top:   15px;
}

.main-user .fullDetails .br {
	border-left: 1px solid #DFE2E5;
}

.main-user .fullDetails h2 {
	margin-top: 0;
}

.main-user .map {
	width:      280px;
	height:     280px;
	margin-top: 15px;

}

.suggest .encart-users {
	display:  block;
	float:    left;
	position: relative;
}

.encart-users .infos {
	background-color: rgba(28, 34, 40, 0.85);
	color:            #FFFFFF;
	display:          table !important;
	height:           300px;
	left:             0;
	opacity:          0;
	position:         absolute;
	top:              0;
	transition:       opacity 0.4s ease 0s;
	width:            100%;
}

.encart-users a:hover .infos {
	opacity: 1;
}

.encart-users img {
	width:  100%;
	height: 300px;
}

.encart-users span {
	display:       block;
	font-size:     1.5rem;
	line-height:   1.4rem;
	margin-bottom: 7px;
	text-align:    center;
}

.infos-content span.name {
	font-size:      1.6rem;
	font-weight:    bold;
	text-transform: uppercase;
}

.infos-content {
	display:        table-cell !important;
	vertical-align: middle;
}

.encart-users .infos {
	font-size:      1.3rem;
	line-height:    1.4rem;
	text-align:     center;
	display:        table-cell;
	vertical-align: middle;
}

.main-user .map .gmnoprint {
	display: none;
}

.tri .check {
	margin-right: 20px;
}

.search .btn{
	color: white;
	height: 26px;
	line-height: 0;
	margin-bottom: -2px;
	margin-left: 5px;
	margin-top: -5px;
	text-shadow: none;

}

.tri-select .tri-default {
	margin-left:  20px;
	border-left:  1px solid #F48FB1;
	padding-left: 20px;
}

.tri-select label {
	margin-right: 5px;
}

.history {

}

.suggest label, .labele {
	color: #686F77;

}

.suggest .range {
	width:   55px;
	display: inline-block;
}

.suggest input {
	border:        1px solid #DFE2E5;
	border-radius: 0;
	margin:        0 0 20px;
}

.suggest .form-row .ui-slider.ui-slider-horizontal.ui-widget-content {
	margin-left:   5px;
	position:      relative;
	top:           5px;
	width:         346px;
	border-radius: 10px;
}

.ui-slider .ui-slider-range.ui-widget-header::before {
	bottom:      15px;
	color:       #FC8BB1;
	content:     attr(data-label-value);
	font-family: Helvetica, Arial, sans-serif;
	font-size:   1.2rem;
	font-weight: bold;
	left:        50%;
	position:    absolute;
	text-align:  center;
	transform:   translateX(-50%);
	white-space: nowrap;
}

.ui-slider .ui-widget-header {
	box-shadow: none;
}

.suggest .ui-slider .ui-widget-header::after {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	box-shadow: none;
}

.suggest .ui-slider .ui-slider-range {
	background:          #F8C1CF none repeat scroll 0 0;
	position:            relative;
	border-radius:       10px;
	height:              100%;
	top:                 0;
	background-position: 0 0;
	border:              0 none;
	display:             block;
	font-size:           0.7em;
	position:            absolute;
	z-index:             1;
}

.ui-slider .ui-slider-handle {
	background-color: #E1E1E1;
	border:           0 none;
	border-radius:    9px;
	box-shadow:       0 -1px 1px 1px rgba(0, 0, 0, 0.25) inset, 0 -6px 3px -3px #818181 inset, 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	display:          inline-block;
	height:           18px;
	margin-left:      -9px;
	top:              -2px;
	width:            18px;
}

.suggest .ui-slider .ui-slider-handle::after {
	background: #F48FB1 none repeat scroll 0 0;
	box-shadow: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border:      1px solid #D3D3D3;
	color:       #555555;
	font-weight: normal;
}

.ui-slider .ui-slider-handle::before {
	bottom:      18px;
	color:       #FC8BB1;
	content:     attr(data-label-value);
	font-family: Helvetica, Arial, sans-serif;
	font-size:   1.2rem;
	font-weight: bold;
	left:        50%;
	position:    absolute;
	text-align:  center;
	transform:   translateX(-50%);
	white-space: nowrap;
}

.ui-slider .ui-slider-handle::after {
	background-color: #E3E3E3;
	border-radius:    9px;
	box-shadow:       0 -1px 1px 1px rgba(255, 255, 255, 0.33) inset, 0 6px 3px -3px #818181 inset, 0 -6px 3px -3px #FFFFFF inset;
	content:          "";
	display:          inline-block;
	height:           12px;
	left:             3px;
	position:         absolute;
	top:              3px;
	width:            12px;
}

.suggest .ui-slider .ui-slider-handle {
	background: #F48FB1 none repeat scroll 0 0;
	border:     0 none;
	box-shadow: none;
	top:        -3px;
	z-index:    1;
}

.ui-slider .ui-slider-range.ui-widget-header::after {
	background-color:    transparent;
	background-position: 0 0;
	border-radius:       inherit;
	content:             "";
	height:              100%;
	left:                0;
	position:            absolute;
	top:                 0;
	width:               100%;
}

.form-register .changeLoca {
	margin-bottom: 20px;
	color: white;
	margin-top: 20px;
	text-shadow: none;
}

.form-register .galeryImage .avatar{
	border: 3px solid #F48FB1;
}

.form-register img{
	width: 100%;
	height: 200px;
}

.form-register .galeryImage .glyphicon-ok{
	position: absolute;
	background-color: #F48FB1;
	font-size: 26px;
	left: 0;
	padding: 10px;
	cursor: pointer;
	position: absolute;
	top: 0;
}

.form-register .galeryImage .glyphicon-remove{
	position: absolute;
	background-color: #ba0028;
	font-size: 26px;
	cursor: pointer;

	right: 0;
	padding: 10px;
	position: absolute;
	top: 0;
}


.form-register .galeryImage .imgEdit{
	position: relative;
}

.suggest .ui-slider.ui-slider-horizontal.ui-widget-content {
	background:  #AFB6BD none repeat scroll 0 0;
	border:      medium none;
	box-shadow:  none;
	height:      12px;
	margin-left: 21px;
	top:         2px;
	width:       270px;
}

.history-single {
	color:            white;
	background-color: #2C333A;
	border-radius:    10px;
	margin-bottom:    10px;
	padding-top:      10px;
}

.history .nickname {
	text-transform: uppercase;
	color:          white;
}

.history .profile {
	border: 2px solid #F48FB1;
	width:  100px;
	height: 100px;
}

.history img {
	width:  100px;
	height: 100px;
}

.history .people {
}

.chatList a {
	color: white;
}

.chatList .history-single h2 {
	border-bottom: 1px solid white;
	margin-top:    1px;
}

.tri-select {
	display: inline-block;
	width:   100%;
}

.margin-range {
	margin-bottom: 10px;
}

.chatList .history-single p {
	margin-bottom: 3px;
}