{% extends "template/base.twig" %}

{% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="{{ baseURl }}/js/edit.js"></script>
{% endblock %}

{% block body %}
<div class="container main-container">
    <form id="editForm" class="form-inline form-register" method="post" action="{{ path_for('postEditProfil', { 'id': args.id  }) }}" enctype="multipart/form-data">
        <div class="form-group form-row col-sm-offset-2 col-sm-8">
            <label class="col-xs-12 col-sm-3" for="ville">Ville</label>
            <input class="col-xs-12 col-sm-9" id="city" type="text" id="Ville" name="ville" value="{{ location.city }}">
        </div>

        <button type="submit" class="col-xs-12 btn btn-default">Submit</button>
        <a class="col-xs-12 btn btn-default" href="{{ refere }}" id="prev">Retour</a>

    </form>

</div>
{% endblock %}