{% extends "template/admin/baseAdmin.twig" %}

{% block body %}

<div class="container">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Mail</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Sexe</th>
                    <th>Orientation</th>
                    <th>Inscription</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}