
<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="fr" is_ie6 lt_ie7 lt_ie8 lt_ie9 lt_ie10 isIE"><![endif]-->
<!--[if IE 7 ]><html lang="fr" is_ie7 lt_ie8 lt_ie9 lt_ie10 isIE"><![endif]-->
<!--[if IE 8 ]><html lang="fr" is_ie8 lt_ie9 lt_ie10 isIE"><![endif]-->
<!--[if IE 9 ]><html lang="fr" is_ie9 lt_ie10 isIE"><![endif]-->
<!--[if gt IE 9]><html lang="fr" is_ie10 is_ie11 isIE"><![endif]-->
<!--[if !IE]><!--><html lang=fr><!--<![endif]-->
<head>

    {{ include('template/meta.twig') }}

    {% include 'template/css.twig' %}
    <style>
        /* pager wrapper, div */
        .tablesorter-pager {
            padding: 5px;
        }
        /* pager wrapper, in thead/tfoot */
        td.tablesorter-pager {
            background-color: #e6eeee;
            margin: 0; /* needed for bootstrap .pager gets a 18px bottom margin */
        }
        /* pager navigation arrows */
        .tablesorter-pager img {
            vertical-align: middle;
            margin-right: 2px;
            cursor: pointer;
        }

        @-moz-document url-prefix() {
            fieldset { display: table-cell; }
        }

        .tablesorter-filter{
            border: 1px solid #bbb;
            box-sizing: border-box;
            margin: 0;
            padding: 4px;
            transition: height 0.1s ease 0s;
            width: 95%;
        }

        .tablesorter-headerRow{
            background: #F48FB1;
            color: white;
            text-align: center;
        }

        .table{
            border: 1px solid #F48FB1;
        }

        .tablesorter td{
            vertical-align: middle !important;
        }
        .table-striped > tbody > tr:nth-of-type(2n+1) {
            background-color: #F48FB1;

        }
        /* pager output text */
        .tablesorter-pager .pagedisplay {
            padding: 0 5px 0 5px;
            width: 50px;
            text-align: center;
        }

        /* pager element reset (needed for bootstrap) */
        .tablesorter-pager select {
            margin: 0;
            padding: 0;
        }

        /*** css used when "updateArrows" option is true ***/
        /* the pager itself gets a disabled class when the number of rows is less than the size */

        .filtered {
            display: none;
        }

        .tablesorter-pager.disabled {
            display: none;
        }
        /* hide or fade out pager arrows when the first or last row is visible */
        .tablesorter-pager .disabled {
            /* visibility: hidden */
            opacity: 0.5;
            filter: alpha(opacity=50);
            cursor: default;
        }
    </style>
    {% block metaHeader %}
    {% endblock %}
    {% block stylesheet %}
    {% endblock %}
</head>
<body data-route="">
{% spaceless %}
    <!-- Header -->
    {% block header %}
        {% block content_header %}
            {% include 'template/header.twig' %}
        {% endblock %}
    {% endblock %}

    <!-- !Header -->
    {% block body %}
    {% endblock %}
    <!-- Footer -->
    {% block footer %}
        {% include 'template/footer.twig' %}
    {% endblock %}
    <div class="md-overlay"></div>


    {% block javascript %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.widgets.js"></script>

    {% endblock %}
    {% block js %}

    {% endblock %}
{% endspaceless %}
</body>
</html>
